body{
    background-color: #FFFFFF;
}
.navbar {
    padding: 0;
}
.logo {
    width: 3rem;
    border-radius: .2rem;
}
.col-6.col-md-3.card{
    padding: .5rem;
    margin: .1rem;
}
.card-body {
    padding: 0;
}

@media(max-width: 540px){
    .btn.btn-outline-success {
        font-size: .1rem;
    }
}

@media (max-width: 768px){
    .col-6 {
        padding: .1rem;
    }
    .col-12 {
        padding: .1rem;
        font-size: 12px;
    }
    .btn.icon {
        font-size: 1rem;
        background-color: #FFFFFF;
    }
    .btn {
        margin: .5rem 0;
        padding: .1rem .4rem;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        padding: .2rem;
    }
    .container {
        padding: 0;
    }
    .btn.icon {
        font-size: 2rem;
        background-color: #FFFFFF;
    }
    .btn {
        margin-right: .5rem;
    }
    .col-12.col-md-4.right {
        text-align: right;
    }
}
.icon {
    color: #f6a821;
}
.col-12 {
    padding: 0;
}
img {
    cursor: pointer;
}
.card {
    border-radius: .5rem;
}
.card img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
