.album-title p {
    font-size: .8rem;
}
.album-title {
    padding: .6rem;
}
.card {
    border-radius: .5rem;
}
.card img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.row {
    padding: 0;
    margin: 0;
}
@media (max-width: 960px){
    .container {
        padding: 0;
    }
}
@media (max-width: 768px){
    .col-6 {
        padding: .1rem;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        padding: .2rem;
    }
}
@media (min-width: 1200px){
    .col-xl-2 {
        padding: .4rem;
    }
}
