body {
    background-color: #FFFFFF;
}
.container-fluid.iheader{
    background-color: #9966FF;
}
.navbar-brand{
    color: #FFFFFF;
}
.navbar-light .navbar-brand {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #FFFFFF;
}
.navbar-light .navbar-brand:hover {
    color: #FFFFFF;
}
.footer {
    color: #FF9900;
    background-color:#563d7c;
    text-align: center;
}
.footer a {
    color: #FFF;
}
.nav-item.nav-link:hover {
    color: #FFFFFF;
}
.btn-primary {
    border: none;
    background-color: #9966FF;
}
.nav-item.nav-link{
    color: pink !important;
}
.nav-item.nav-link:hover {
    color: #FFFFFF!important;
}
.nav-item.nav-link.active {
    color: #FFFFFF!important;
}
