body {
    background-color: #FFF0F5;
}
.container-fluid.iheader{
    background-color: #9966FF;
}
.container-fluid.iheader a {
    color: #FFFFFF;
}
.navbar-light .navbar-brand {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #FFFFFF;
}
